<!DOCTYPE html>
<html>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>


<!-- Cabecera -->


<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">      
<select class="w3-select w3-padding-10 w3-text-grey w3-left" name="option" style="width:250px">
    <option value="" disabled selected>Category</option>
    <option value="1">TV</option>
    <option value="2">Home</option>
    <option value="3">Phones</option>
    <option value="4">Computer</option>
    <option value="5">Game Consoles</option>
    <option value="6">Sports</option>
    <option value="7">Cameras</option>
    <option value="8">Watches</option>
  </select>
 
 <div class="w3-text-orange w3-left w3-padding-16"><i class="fa fa-search"></i></div>
     <div  class="w3-button w3-right w3-orange w3-text-white w3-large"onclick="document.getElementById('id01').style.display='block'">Login</div>
    

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>

  <form class="w3-container" action="login">
        <div class="w3-section">
          <label for="email"><b>Email</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="email" id="email" required>
         <label for="password"><b>Password</b></label>
          <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="password"  id="password" required>
          <button class="w3-button w3-block w3-light-blue w3-section w3-padding" style="color:white" type="submit">Login</button>
          <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
        </div>
      </form>
    </div>
  </div>
</div>

 <div class=" w3-right w3-large w3-padding-16 margin:20px"><a href="register">Register</a></div>
 <div class="w3-padding w3-right"><a href="cart"><i class="fa fa-truck"></i></a></div> 
   <div class="w3-center w3-padding-16"><a title="Letras" href="megapop"><img src="https://i.ibb.co/MM5qtS3/Letras.jpg" alt="Letras" border="0"  style="width:10%"></a></div>
   
  </div>
   
</div>
 <p>  
<!-- Cuerpo Pagina -->


<div class="w3-container w3-padding-16 w3-center" style="max-width:1200px;margin:auto;margin-top:46px">
<p>


    <img src="https://i.ibb.co/Xzt9BSb/eslogan.jpg" alt="eslogan" border="0">
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" style="max-width:1200px;margin:auto" id="bicicleta">
    <div class="w3-col l3 m6 w3-margin-bottom w3-center">
      <img src="https://i.ibb.co/Zf7J18h/714-Rsn3y-Dn-L-SL1500.jpg" border="0" alt="bicicleta" style="width:100%">
      <h3><b>Bicycle</b></h3>
      <p><em>The greenest way to go by city.</em></p>
      <p><button class="w3-button w3-large w3-orange w3-text-white w3-block">Buy it!</button></p>
    </div>
   <div class="w3-col l3 m6 w3-margin-bottom w3-center">
 
      <h3><b>Photo camera</b></h3>
      <p><em>Inmortalice your best moments.</em></p>
      <p><button class="w3-button w3-large w3-orange w3-text-white w3-block">Buy it!</button></p>
    </div>
   <div class="w3-col l3 m6 w3-margin-bottom w3-center">
      
      <h3><b>Watch</b></h3>
      <p><em>Your time always controlled.</em></p>
      <p><button class="w3-button w3-large w3-orange w3-text-white w3-block">Buy it!</button></p>      
    </div>
   <div class="w3-col l3 m6 w3-margin-bottom w3-center">
     
      <h3><b>Computer</b></h3>
      <p><em>Create your own projects.</em></p>
      <p><button class="w3-button w3-large w3-orange w3-text-white w3-block">Buy it!</button></p>
    </div>
  </div>
  
 <div class="w3-row-padding w3-padding-16 w3-center" style="max-width:1200px;margin:auto" id="bicicleta">
    <div class="w3-col l3 m6 w3-margin-bottom w3-center">
      
      <h3><b>PlayStation 4 Pro</b></h3>
      <p><em>Live your adventures in 4K.</em></p>
    <p><button class="w3-button w3-large w3-orange w3-text-white w3-block">Buy it!</button></p>
    </div>
   <div class="w3-col l3 m6 w3-margin-bottom w3-center">
   
      <h3><b>External Hard Disk</b></h3>
      <p><em>Save your information.</em></p>
      <p><button class="w3-button w3-large w3-orange w3-text-white w3-block">Buy it!</button></p>
    </div>
   <div class="w3-col l3 m6 w3-margin-bottom w3-center">
      
      <h3><b>TV</b></h3>
      <p><em>Watch your series in the best quality.</em></p>
      <p><button class="w3-button w3-large w3-orange w3-text-white w3-block">Buy it!</button></p>      
    </div>
   <div class="w3-col l3 m6 w3-margin-bottom w3-center">
    
      <h3><b>Washer</b></h3>
      <p><em>Your clothes always new.</em></p>
      <p><button class="w3-button w3-large w3-orange w3-text-white w3-block">Buy it!</button></p>
    </div>
  </div>
  </div>

<div class="w3-content w3-container w3-padding-64" id="contact">
<div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="https://i.ibb.co/Fz4SFZJ/barcelona.jpg" alt="barcelona" border="0" class="w3-image w3-round" style="width:100%">
    </div>
     <img src="https://i.ibb.co/sbyJqb9/M.png" alt="M" border="0" style="width:10%" class="w3-right">
  <h3 class="w3-center">WHERE WE WORK</h3>
  <p class="w3-center"><em>I'd love your feedback!</em></p>

  
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Barcelona, Spain<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> 9330540987<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> clients@megapop.es<br>
      </div>
      <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave us a note:</p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-button w3-orange w3-text-white w3-right w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>

<footer class="w3-container w3-padding-64 w3-center w3-xlarge">
<img src="https://i.ibb.co/Kj66L0D/Logo-completo-jpg.jpg" alt="Logo-completo-jpg" border="0"style="width:5%"></a> 
<p class="w3-medium">Copyright © 2019 megapop</p>

</body>
</html>