
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Profile</title>
</head>
<body>

Hola,
<td th:text="${session.sessionuser.firstname}"></td>
<!-- <td th:text="${user.laststname}"></td>
<td th:text="${user.zip}"></td>
<td th:text="${user.email}"></td>
<td th:text="${user.phone}"></td>
<td th:text="${user.address}"></td>
<td th:text="${user.city}"></td>
<td th:text="${user.country}"></td> -->

<div class=" w3-right w3-large w3-padding-16 margin:20px"><a href="newproduct">Add new Product</a></div>

</body>
</html>