<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<style>
table , form {
    margin:20px;
}

</style>
</head>
<meta charset="ISO-8859-1">

<title>Profile</title>
</head>
<body>

<table class="w3-table-all">
    <thead>
      <tr class="w3-blue">
        <th>MedicamentID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Active</th>
      </tr>
    </thead>

<tr th:each="user:${Profile}">
    <td th:text="${user.email}"></td>
    <td th:text="${user.firstname}"></td>
    <td th:text="${user.lastname}"></td>
    <td th:text="${user.zip}"></td>
    <td th:text="${user.city}"></td>    
               </tr></table> 
</body>
</html>