<!DOCTYPE html>
<html>
<title>New Product</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
<div class="w3-center w3-padding-16"><img src="https://i.ibb.co/w6R924K/register.jpg" alt="register" border="0" width="15%">




      
      
      </div></div>
<p>
 
<!--  CUERPO PÁGINA -->
   
  <p>  
   <form  class="w3-row-padding w3-padding-16" style="max-width:1200px;margin:auto"method="post" action="addproduct" id="addproduct" name="register">
   
   <!--  <p class="input-file-wrapper w3-right w3-text-orange">Upload your photo:  
        <label class="" for="photo"></label>
        <input class="w3-right"type="file" name="photo" id="photo">
    </p>  -->


<p>    
   <div class="w3-text-orange"><label for="name">Name:</label>
  <input class="w3-input  w3-border" placeholder="Write product name" style="width:220px" name="name" id= "name" type="text" >
  </div>  
  <p>      
 <div class="w3-text-orange"><label for="price">Price:</label>
  <input class="w3-input  w3-border" placeholder="0.0" style="width:220px" name="price" id= "price" type="text" >
  </div>  
  <p>
   <div class="w3-text-orange"><label for="description">Description:</label>
  <input class="w3-input  w3-border" placeholder="Write a description" style="width:220px" name="description" id= "description" type="text" >
  </div>
  <p> 
  
<p>
 <select class="w3-select w3-padding-10 w3-text-grey w3-left" name="category" id="category" style="width:250px">
    <option value="" disabled selected>Category</option>
    <option value="tv">TV</option>
    <option value="home">Home</option>
    <option value="phones">Phones</option>
    <option value="computer">Computer</option>
    <option value="gameconsoles">Game Consoles</option>
    <option value="sports">Sports</option>
    <option value="cameras">Cameras</option>
    <option value="watches">Watches</option>
  </select>

  <p> 

  <p>    
     
        
  <button class="w3-btn w3-orange w3-text-white w3-center">Add product</button>
  </p>
</form>
</body>
</html>